In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Resources/US_Accidents_March23.csv")
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [4]:
df.nunique()

ID                       7728394
Source                         3
Severity                       4
Start_Time               6131796
End_Time                 6705355
Start_Lat                2428358
Start_Lng                2482533
End_Lat                  1568172
End_Lng                  1605789
Distance(mi)               22382
Description              3761578
Street                    336306
City                       13678
County                      1871
State                         49
Zipcode                   825094
Country                        1
Timezone                       4
Airport_Code                2045
Weather_Timestamp         941331
Temperature(F)               860
Wind_Chill(F)               1001
Humidity(%)                  100
Pressure(in)                1144
Visibility(mi)                92
Wind_Direction                24
Wind_Speed(mph)              184
Precipitation(in)            299
Weather_Condition            144
Amenity                        2
Bump                           2
Crossing                       2
Give_Way                       2
Junction                       2
No_Exit                        2
Railway                        2
Roundabout                     2
Station                        2
Stop                           2
Traffic_Calming                2
Traffic_Signal                 2
Turning_Loop                   1
Sunrise_Sunset                 2
Civil_Twilight                 2
Nautical_Twilight              2
Astronomical_Twilight          2
dtype: int64

In [5]:
df['State'].value_counts()

CA    1741433
FL     880192
TX     582837
SC     382557
NY     347960
NC     338199
VA     303301
PA     296620
MN     192084
OR     179660
AZ     170609
GA     169234
IL     168958
TN     167388
MI     162191
LA     149701
NJ     140719
MD     140417
OH     118115
WA     108221
AL     101044
UT      97079
CO      90885
OK      83647
MO      77323
CT      71005
IN      67224
MA      61996
WI      34688
KY      32254
NE      28870
MT      28496
IA      26307
AR      22780
NV      21665
KS      20992
DC      18630
RI      16971
MS      15181
DE      14097
WV      13793
ID      11376
NM      10325
NH      10213
WY       3757
ND       3487
ME       2698
VT        926
SD        289
Name: State, dtype: int64

In [6]:
nj_rows = df[df['State']=='NJ']
nj_rows.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
194249,A-194256,Source2,2,2016-11-30 16:37:24,2016-11-30 17:22:05,40.775616,-74.237305,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Day,Day,Day
194265,A-194272,Source2,2,2016-11-30 17:11:50,2016-11-30 17:56:38,40.944626,-74.100800,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Day,Day
194266,A-194273,Source2,2,2016-11-30 17:13:28,2016-11-30 18:13:14,40.846260,-74.042770,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Day,Day
194275,A-194282,Source2,3,2016-11-30 17:29:30,2016-11-30 18:14:16,40.641262,-74.205650,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Day,Day
194294,A-194301,Source2,2,2016-11-30 19:10:49,2016-11-30 20:10:39,40.957714,-73.975098,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Night,Night

In [7]:
nj_rows['Severity'].count()

140719

In [8]:
nj_rows = nj_rows.drop(columns=["End_Lat","End_Lng","Civil_Twilight","Nautical_Twilight","Astronomical_Twilight","Source","Traffic_Calming"])
nj_rows.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Street,City,...,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Signal,Turning_Loop,Sunrise_Sunset
194249,A-194256,2,2016-11-30 16:37:24,2016-11-30 17:22:05,40.775616,-74.237305,0.01,Accident pedestrian involved on County Hwy-659...,Main St,Orange,...,False,False,False,False,False,False,False,True,False,Night
194265,A-194272,2,2016-11-30 17:11:50,2016-11-30 17:56:38,40.944626,-74.100800,0.01,Accident pedestrian involved on County Hwy-9 S...,40-99 Fair Lawn Ave,Fair Lawn,...,False,False,False,False,False,False,False,False,False,Night
194266,A-194273,2,2016-11-30 17:13:28,2016-11-30 18:13:14,40.846260,-74.042770,0.01,Accident pedestrian involved on County Hwy-503...,Chamberlain Ave,Little Ferry,...,False,False,False,False,False,False,False,False,False,Night
194275,A-194282,3,2016-11-30 17:29:30,2016-11-30 18:14:16,40.641262,-74.205650,0.01,One lane blocked due to accident on I-95 South...,I-278 W,Elizabeth,...,False,False,False,False,False,False,False,False,False,Night
194294,A-194301,2,2016-11-30 19:10:49,2016-11-30 20:10:39,40.957714,-73.975098,0.01,Restrictions due to multi-vehicle accident on ...,Knickerbocker Rd,Demarest,...,False,False,False,False,False,False,False,True,False,Night

In [10]:
nj_rows.to_csv("NJ_Accidents_March23.csv")

In [12]:
nj_rows["Severity"].value_counts()

2    113315
3     21318
4      5887
1       199
Name: Severity, dtype: int64

In [13]:
nj_rows.nunique()

ID                   140719
Severity                  4
Start_Time           115628
End_Time             128597
Start_Lat             52780
Start_Lng             51905
Distance(mi)           5733
Description           81252
Street                 6588
City                    558
County                   21
State                     1
Zipcode               11541
Country                   1
Timezone                  1
Airport_Code             24
Weather_Timestamp     70593
Temperature(F)          524
Wind_Chill(F)           552
Humidity(%)              94
Pressure(in)            217
Visibility(mi)           33
Wind_Direction           24
Wind_Speed(mph)          67
Precipitation(in)       129
Weather_Condition        77
Amenity                   2
Bump                      2
Crossing                  2
Give_Way                  2
Junction                  2
No_Exit                   2
Railway                   2
Roundabout                1
Station                   2
Stop                      2
Traffic_Signal            2
Turning_Loop              1
Sunrise_Sunset            2
dtype: int64

In [14]:
#Drop all rows with Null weather timestamp

nj_rows.dropna(subset=['Weather_Timestamp'], inplace=True)

In [15]:
nj_rows = nj_rows.drop(columns=["State","Street","Country","City","County",
                                "Roundabout","Timezone","Zipcode","Start_Lat","Start_Lng","Turning_Loop","Weather_Timestamp"])

In [16]:
nj_rows.head()

,ID,Severity,Start_Time,End_Time,Distance(mi),Description,Airport_Code,Temperature(F),Wind_Chill(F),Humidity(%),...,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Station,Stop,Traffic_Signal,Sunrise_Sunset
194249,A-194256,2,2016-11-30 16:37:24,2016-11-30 17:22:05,0.01,Accident pedestrian involved on County Hwy-659...,KEWR,55.0,NaN,93.0,...,False,False,False,False,False,False,False,False,True,Night
194265,A-194272,2,2016-11-30 17:11:50,2016-11-30 17:56:38,0.01,Accident pedestrian involved on County Hwy-9 S...,KTEB,54.0,NaN,90.0,...,False,True,False,False,False,False,False,False,False,Night
194266,A-194273,2,2016-11-30 17:13:28,2016-11-30 18:13:14,0.01,Accident pedestrian involved on County Hwy-503...,KTEB,54.0,NaN,90.0,...,False,False,False,False,False,False,False,False,False,Night
194275,A-194282,3,2016-11-30 17:29:30,2016-11-30 18:14:16,0.01,One lane blocked due to accident on I-95 South...,KLDJ,54.5,NaN,95.0,...,False,False,False,False,False,False,False,False,False,Night
194294,A-194301,2,2016-11-30 19:10:49,2016-11-30 20:10:39,0.01,Restrictions due to multi-vehicle accident on ...,KTEB,54.0,NaN,90.0,...,False,False,False,False,False,False,False,False,True,Night

In [17]:
nj_rows.nunique()

ID                   138736
Severity                  4
Start_Time           114054
End_Time             126805
Distance(mi)           5709
Description           80293
Airport_Code             24
Temperature(F)          524
Wind_Chill(F)           552
Humidity(%)              94
Pressure(in)            217
Visibility(mi)           33
Wind_Direction           24
Wind_Speed(mph)          67
Precipitation(in)       129
Weather_Condition        77
Amenity                   2
Bump                      2
Crossing                  2
Give_Way                  2
Junction                  2
No_Exit                   2
Railway                   2
Station                   2
Stop                      2
Traffic_Signal            2
Sunrise_Sunset            2
dtype: int64

In [18]:
nj_rows = nj_rows.drop(columns=["ID","End_Time","Description","Airport_Code"])

In [19]:
nj_rows.to_csv("NJ_Data_cut")